#aside{
    width:200px;
    height:100%;
    right:0px;
    position: absolute;
    top:0px;
    background-color: #000;
    color:#fff;
    transform: translate(100%,0);
    transition: 2s;
}